Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


# Unreal Engine
DerivedDataCache/
Intermediate/
Saved/
Binaries/

# Visual Studio / Rider
.vs/
.idea/
*.sln
*.suo
*.user
*.userprefs
